n8n workflow/NARA RAGA.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "RAGA",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "39ba94ba-75b8-488c-b589-d8491293fede",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3520,
        1520
      ],
      "webhookId": "RAGA"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action || $json.query.action }}",
        "rules": {
          "rules": [
            {
              "value2": "get_data",
              "output": 0
            },
            {
              "value2": "add_log",
              "output": 1
            },
            {
              "value2": "delete_log",
              "output": 2
            },
            {
              "value2": "upsert_biometrics",
              "output": 3
            },
            {
              "value2": "estimate_calories",
              "output": 4
            }
          ]
        }
      },
      "id": "914d7d4c-32f1-4dcc-9265-a9bdd335bd44",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -3232,
        1456
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "user_biometrics",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Webhook1').item.json.body.user_id }}"
            }
          ]
        }
      },
      "id": "1eef02e2-fd3d-43a7-8c77-a76e2b8781fe",
      "name": "Supabase: Get Biometrics1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2800,
        1280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xTHvppaIPCydn2CN",
          "name": "Supabase Account NARA"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "raga_logs",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Webhook1').item.json.body.user_id }}"
            }
          ]
        }
      },
      "id": "6345427d-de41-4a8a-a691-50eaad6f0993",
      "name": "Supabase: Get Logs1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2576,
        1296
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xTHvppaIPCydn2CN",
          "name": "Supabase Account NARA"
        }
      }
    },
    {
      "parameters": {
        "tableId": "raga_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook1').item.json.body.user_id }}"
            },
            {
              "fieldId": "meal_name",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.meal_name }}"
            },
            {
              "fieldId": "calories",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.calories }}"
            },
            {
              "fieldId": "logged_at",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.logged_on }}"
            }
          ]
        }
      },
      "id": "d995805f-4f68-408c-8aaa-61f3ca695e39",
      "name": "Supabase: Create Log1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2800,
        1600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xTHvppaIPCydn2CN",
          "name": "Supabase Account NARA"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "raga_logs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook1').item.json.body.id }}"
            }
          ]
        }
      },
      "id": "db018097-5dc3-4aa6-a85d-2479bd8e55bc",
      "name": "Supabase: Delete Log1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2800,
        1760
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xTHvppaIPCydn2CN",
          "name": "Supabase Account NARA"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "user_biometrics",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Webhook1').item.json.body.user_id }}"
            }
          ]
        }
      },
      "id": "a6566fad-e2c2-47bd-a932-d4a2b7a8e5a3",
      "name": "Supabase: Check Profile1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2800,
        1920
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "xTHvppaIPCydn2CN",
          "name": "Supabase Account NARA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.user_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "396aa117-a021-4637-a05a-8d8721453969",
      "name": "Profile Exists?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2576,
        1920
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_biometrics",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook1').item.json.body.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "height_cm",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.height_cm }}"
            },
            {
              "fieldId": "weight_kg",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.weight_kg }}"
            },
            {
              "fieldId": "age",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.age }}"
            },
            {
              "fieldId": "gender",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.gender }}"
            },
            {
              "fieldId": "activity_level",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.activity_level }}"
            },
            {
              "fieldId": "target_calories",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.target_calories }}"
            },
            {
              "fieldId": "target_weight",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.target_weight }}"
            }
          ]
        }
      },
      "id": "406cfde5-18e2-4b41-8c01-dad950d7796e",
      "name": "Supabase: Update Profile1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2352,
        1840
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xTHvppaIPCydn2CN",
          "name": "Supabase Account NARA"
        }
      }
    },
    {
      "parameters": {
        "tableId": "user_biometrics",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook1').item.json.body.user_id }}"
            },
            {
              "fieldId": "height_cm",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.height_cm }}"
            },
            {
              "fieldId": "weight_kg",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.weight_kg }}"
            },
            {
              "fieldId": "age",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.age }}"
            },
            {
              "fieldId": "gender",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.gender }}"
            },
            {
              "fieldId": "activity_level",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.activity_level }}"
            },
            {
              "fieldId": "target_calories",
              "fieldValue": "={{ $('Webhook1').item.json.body.data.target_calories }}"
            }
          ]
        }
      },
      "id": "80ca04e6-4f1a-42e8-a6b7-4f542497e254",
      "name": "Supabase: Create Profile1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2352,
        2000
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xTHvppaIPCydn2CN",
          "name": "Supabase Account NARA"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "98b41d89-ad7b-428a-a655-a8b73146e293",
      "name": "Respond to Webhook ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2080,
        1920
      ]
    },
    {
      "parameters": {
        "jsCode": "const logsItems = $node[\"Supabase: Get Logs1\"].all();\nlet biometrics = {};\n\ntry {\n  const bioNode = $node[\"Supabase: Get Biometrics1\"].all();\n  if (bioNode && bioNode.length > 0) {\n    biometrics = bioNode[0].json;\n  }\n} catch(e) {\n  biometrics = {};\n}\n\nconst logs = logsItems.map(item => item.json).filter(l => l.id);\n\nreturn [{ json: { success: true, biometrics, logs } }];"
      },
      "id": "233fe8ae-20b3-489d-a833-657dc6d7de6e",
      "name": "Build Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2336,
        1280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c61553fc-3097-4f6d-8b3f-0e555e519b4c",
      "name": "Respond: get_data1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2096,
        1280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "03e760b2-948f-405f-b145-147f9d25811f",
      "name": "Respond: add_log1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2448,
        1568
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "55ecc30e-ec0a-4d10-a635-33f07c488f12",
      "name": "Respond: delete_log1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2496,
        1744
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are a professional nutritionist expert for Indonesian food. Estimate the calories for the given meal name. Answer ONLY with a JSON object in this format: { \"calories\": number }. Be as accurate as possible for standard Indonesian portions."
            },
            {
              "role": "user",
              "content": "={{ $json.body.meal_name }}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "0a01c0e5-97ee-4a76-a329-d4fc90adb5d2",
      "name": "AI Specialist",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -2848,
        2144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "20f721ac-7017-4acb-82b2-d6b342ed3879",
      "name": "Respond: estimate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2512,
        2144
      ]
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Supabase: Get Biometrics1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Create Log1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Delete Log1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Check Profile1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Specialist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Get Biometrics1": {
      "main": [
        [
          {
            "node": "Supabase: Get Logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Get Logs1": {
      "main": [
        [
          {
            "node": "Build Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Create Log1": {
      "main": [
        [
          {
            "node": "Respond: add_log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Delete Log1": {
      "main": [
        [
          {
            "node": "Respond: delete_log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Check Profile1": {
      "main": [
        [
          {
            "node": "Profile Exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Exists?1": {
      "main": [
        [
          {
            "node": "Supabase: Update Profile1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Create Profile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Update Profile1": {
      "main": [
        [
          {
            "node": "Respond to Webhook ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Create Profile1": {
      "main": [
        [
          {
            "node": "Respond to Webhook ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response1": {
      "main": [
        [
          {
            "node": "Respond: get_data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Specialist": {
      "main": [
        [
          {
            "node": "Respond: estimate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
