n8n workflow/NARA Auth.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nara-auth",
        "responseMode": "onLastNode",
        "options": {
          "allowedOrigins": "*",
          "respondToOptions": true
        }
      },
      "id": "a1a1a1a1-a1a1-a1a1-a1a1-a1a1a1a1a1a1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        240
      ],
      "webhookId": "nara-auth"
    },
    {
      "parameters": {
        "operation": "get",
        "table": "profiles",
        "filters": {
          "conditions": [
            {
              "key": "id",
              "value": "={{ $node[\"Webhook\"].json.body.user_id }}"
            }
          ]
        },
        "alwaysOutputData": true
      },
      "id": "d4d4d4d4-d4d4-d4d4-d4d4-d4d4d4d4d4d4",
      "name": "Supabase: Get Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        520,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xTHvppaIPCydn2CN",
          "name": "Supabase Account NARA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e5e5e5e5-e5e5-e5e5-e5e5-e5e5e5e5e5e5",
      "name": "Profile Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        740,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "profiles",
        "filters": {
          "conditions": [
            {
              "key": "id",
              "value": "={{ $node[\"Webhook\"].json.body.user_id }}"
            }
          ]
        },
        "mappingMode": "defineBelow",
        "valueMap": {
          "value": [
            {
              "key": "full_name",
              "value": "={{ $node[\"Webhook\"].json.body.full_name }}"
            },
            {
              "key": "avatar_url",
              "value": "={{ $node[\"Webhook\"].json.body.avatar_url }}"
            }
          ]
        }
      },
      "id": "f6f6f6f6-f6f6-f6f6-f6f6-f6f6f6f6f6f6",
      "name": "Supabase: Update Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        140
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xTHvppaIPCydn2CN",
          "name": "Supabase Account NARA"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "table": "profiles",
        "mappingMode": "defineBelow",
        "valueMap": {
          "value": [
            {
              "key": "id",
              "value": "={{ $node[\"Webhook\"].json.body.user_id }}"
            },
            {
              "key": "full_name",
              "value": "={{ $node[\"Webhook\"].json.body.full_name }}"
            },
            {
              "key": "email",
              "value": "={{ $node[\"Webhook\"].json.body.email }}"
            },
            {
              "key": "avatar_url",
              "value": "={{ $node[\"Webhook\"].json.body.avatar_url }}"
            }
          ]
        }
      },
      "id": "c3c3c3c3-c3c3-c3c3-c3c3-c3c3c3c3c3c3",
      "name": "Supabase: Create Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        340
      ],
      "credentials": {
        "supabaseApi": {
          "id": "xTHvppaIPCydn2CN",
          "name": "Supabase Account NARA"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase: Get Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Get Profile": {
      "main": [
        [
          {
            "node": "Profile Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Exists?": {
      "main": [
        [
          {
            "node": "Supabase: Update Profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Create Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}